.dialogWrapper {
  width: 100vw;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.dialogWrapper dialog {
  margin-top: 20%;
  padding: 0;
  min-width: 300px;
  border: 1px solid black;
}

.dialogWrapper header {
  background-color: black;
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.dialogWrapper .content,
.dialogWrapper header {
  padding: 10px;
}

.dialogWrapper header button {
  background-color: transparent;
  color: white;
  outline: none;
  cursor: pointer;
}
