.dashboard {
  display: flex;
  position: relative;
  height: 100vh;
  --left-width: 100px;
  --right-width: 320px;
  --left-and-right-width: calc(var(--left-width) + var(--right-width));
}

.dashboard > div {
  height: 100%;
}

.left,
.right {
  background-color: #eeeeee;
}

.left {
  overflow-y: auto;
  width: var(--left-width);
}

.center {
  background-color: #ffffff;
  overflow: hidden;
  width: calc(100vw - var(--left-and-right-width));
}

.right {
  width: var(--right-width);
}
