.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  user-select: none;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #b0bec5;
}

.item.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.item:hover:not(.disabled) {
  background-color: #eeeeaa;
}

.label {
  text-align: center;
}

.icon {
  font-size: 22px;
}

.item input[type='file'] {
  position: absolute;
  height: 100%;
  cursor: pointer;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  background-color: transparent;
  border: 1px solid black;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
}

.buttons button:last-child {
  background-color: #ffcdd2;
  border: 1px solid #ffcdd2;
}